@font-face {
    font-family: Aesthetic;
    src: url("../font/AestheticRegular.otf");
}

h1 {
    font-family: Aesthetic, sans-serif,Santana;
}

.customFont {
    font-family: Aesthetic, sans-serif,Santana;
}
#customFont {
    font-family: Aesthetic, sans-serif,Santana;
}