.fullWorld {
    display: flex;
    position: absolute;
    margin-top: 140px;
}
.clickMe {
    display: flex;
    position: relative;
}
.body {
    background-color: black;
}
.loginForm {
    display: flex;
    position: absolute;
}
.form {
    display: flex;
    padding-top: 50px;
}
.login-home {
    /*display: flex;*/
    padding-top: 15px !important;
}