<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Log In</title>
        <script src="../static/js/threejs.js" type="module"></script>
    </head>
    <body>
    <iframe src='https://my.spline.design/colorbox3copy-60e7ddf7671ece5affb63092b740fdc6/' frameborder='0' width='100%' height='100%'></iframe>
    <h1>Log In</h1>
    <div th:if="${param.error}">
        Invalid Username and Password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <label for="username">Username</label>
        <input id="username" name="username" type="text">
        <label for="password">Password</label>
        <input id="password" name="password" type="password">
        <input type="submit" value="Log In">
    </form>
    </body>
</html>