<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Roll Dice</title>
    </head>
    <body>
    <h2> Pick a number:</h2>
    <ul>
        <l1><a href="/roll-dice/1">1</a></l1>
        <l1><a href="/roll-dice/2">2</a></l1>
        <l1><a href="/roll-dice/3">3</a></l1>
        <l1><a href="/roll-dice/4">4</a></l1>
        <l1><a href="/roll-dice/5">5</a></l1>
        <l1><a href="/roll-dice/6">6</a></l1>
    </ul>
    <div th:if="${userGuess}">
        <p>You rolled a <span th:text="${userGuess}"></span></p>
        <p>The random number was <span th:text="${randomNumber}"></span></p>
    </div>
    </body>